// 主题色
$main-color: #2f54eb;
$main-success-color: #00cf90;
$main-warning-color: #fadb14;
$main-danger-color: #ff5722;
$main-info-color: #607d8b;

// 侧边栏颜色
$menu-bg: #001529;
$menu-bg-hover: #1890ff;
$menu-text-color: #848d97;
$select-text-color: #ffffff;
$select-bg: #1890ff;
